{% extends "learning_logs/base.html" %}

{% block content_title %}

{% endblock content_title %}

{% block content %}
<div class="card mb-3">
    <h4 class="card-header">
        {{ entry.title }}
        <small class="small">
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit</a>
        </small>
    </h4>
</div>

<div class="card-body">
    {{entry.text}}
</div>

<div class="card-body">
    <a class="btn btn-primary" href="{% url 'learning_logs:topic' topic.id %}" role="button">{{ topic }}</a>
</div>
{% endblock content %}
