{% extends "learning_logs/base.html" %}

{% block title %}Topic: {{ topic }}{% endblock title %}

{% block content_title %}Entries:{% endblock content_title %}

{% block content %}
<p>
    <a class="btn btn-outline-primary" href="{% url 'learning_logs:new_entry' topic.id %}" role="button">Add new entry</a>
</p>
<ul>
    {% for entry in topic.entries.all %}
    <div class="card mb-3">
        <h4 class="card-header">
            <a class="btn btn-primary" href="{% url 'learning_logs:entry' entry.id %}" role="button">{{ entry.title }}</a>
            <small>
                {{ entry.date_added | date:'M d, Y H:i' }}
            </small>
        </h4>
    </div>
    <div class="card-body">
        {{ entry.text|truncatewords:25 }}
    </div>

    {% empty %}
    <li>There are no entries for this topic yet.</li>
    {% endfor %}
</ul>
{% endblock content %}
